* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
p.reg-text {
  max-width: 540px;
  font-size: 16px;
  line-height: 1.64;

  color: #727272;
}
.container {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
}
header {
  padding-top: 80px;
  background-color: #eeeff1;
}
ul {
  list-style: none;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  height: 27px;
}
.nav a {
  transition: 0.4s ease-in-out;
  letter-spacing: 0.1em;
  margin-right: 42px;
  text-decoration: none;
}
.nav > li > a {
  color: black;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}
.nav li a:hover {
  color: #34547a;
}
#intro {
  background-color: #eeeff1;
  padding: 150px 0 80px;
}
.intro-info h1 {
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 60px;
}
.intro-info button {
  font-size: 16px;
  background-color: #34547a;
  color: #ffffff;
  border: none;
  padding: 24px 73px;
  margin-top: 60px;
  margin-bottom: 60px;
}
#aboutMe {
  padding: 112px 0 100px;
}
.descCont {
  text-align: center;
}
.descCont h2 {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 50px;
}
.descCont p {
  margin: 0 auto;
  max-width: 30vw;
}
.descCont2 {
  text-align: center;
}
.descCont2 h2 {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 50px;
}
.descCont2 p {
  margin: 0 auto;
  margin-bottom: 5vw;
  max-width: 30vw;
}
#int {
  height: 15vw;
  background-color: #34547a;

  display: flex;
  padding: 0 30px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.item {
  flex: 1 1 auto;
  padding: 0 30px;
}
#howWork {
  padding: 100px 0;
}

.how-work-cont {
  display: block;
}
footer {
  background-color: #34547a;
  padding: 50px 0;
  color: #ffffff;
}
footer h3 {
  font-size: 21px;
  padding-bottom: 20px;
}
footer a {
  font-size: 13px;
}
